blib*
Build
Build.bat
_build/*
pm_to_blib*
tmp*
pod.raw*
*.tar.gz
*.old
*.bak
*.o
*.c
*.suo
*.vcxproj.user
_internal
META.yml
MYMETA.yml
MANIFEST
/META.json
/MYMETA.json

*.iml
/.idea/
/Perl-Dist-Strawberry-*/
