[% self.image_dir %]\
README.txt:backslash
win32\CPAN Search.url:backslash
win32\Live Support.url:backslash
win32\Strawberry Perl Release Notes.url:backslash
win32\Strawberry Perl Website.url:backslash
win32\Win32 Perl Wiki.url:backslash
