<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html><!-- InstanceBegin template="/Templates/main.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- InstanceBeginEditable name="title" -->
<title>Strawberry Perl for Windows - [%app_version%]-[%bits%]bit Release Notes</title>
<!-- InstanceEndEditable -->
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="http://strawberryperl.com/favicon.ico">
<link rel="stylesheet" type="text/css" href="http://strawberryperl.com/common.css">
<link rel="stylesheet" type="text/css" href="http://strawberryperl.com/main.css">
<!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->
<style>
.releasenotes .hidden { display: none; }
.releasenotes .unhidden { display: block; }
.releasenotes .switchoff { display: none; }
.releasenotes .switchon { text-decoration: none; display: inline; }
.releasenotes .switch { font-size: 80% }
</style>
</head>
<body class="releasenotes">
<!-- InstanceBeginEditable name="body" -->
<img src="http://strawberryperl.com/images/320554_9491.jpg" alt="strawberries" width="357" height="728" border="0" align="right">
<br /><h2>Strawberry Perl Release Notes</h2>
<p><i>Version [%app_version%]-[%bits%]bit, released [%build_date_XXX%]</i></p>
<p>Check out what is new, what known issues there are, and frequently asked questions about this version of Strawberry Perl. As always, you're encouraged to tell us what you think.</p>

<h3>What's new in Strawberry Perl [%app_version%]-[%bits%]bit: <span class="switch"><a href="javascript:unhide('whatsnew', 'whatsnew_switch')" id="whatsnew_switch">Collapse</a><br /></span>
<hr /></h3>
<div id="whatsnew">
<!-- p>Put blurb here and uncomment.</p -->
</div>
<br />
<h3>Known issues: <span class="switch"><a href="javascript:unhide('issues', 'issues_switch')" id="issues_switch">Collapse</a></span>
<hr /></h3>
<div id="issues">
<!-- ul>
<li>Put issues here, uncommenting the ul's around this html code.</li>
</ul -->
</div>
<br />
<h3>List of distributions added to Perl [%app_version%]-[%bits%]bit: <span class="switch"><a href="javascript:unhide('distlist', 'distlist_switch')" id="distlist_switch">Collapse</a></span>
<hr /></h3>
<div id="distlist" class="unhidden">
<table>
<tr><td><b>Distribution</b></td><td><b>Version</b></td><td><b>Link</b></td></tr>
[% dist_list_XXX %]
</table>

<p>The list of packages related to gcc-toolchain and external libraries included in Strawberry Perl:</p>

<table>
<tr><td><b>Package</b></td><td><b>Homepage</b></td><td><b>Link</b></td><td><b>Comment</b></td></tr>
[% dist_pkgs_XXX %]
</table>

</div>
<script type="text/javascript">
function unhide(divID, switchID) {
  // Hide or unhide the available item.
  var item = document.getElementById(divID);
  if (item) {
    item.className = ( item.className == 'hidden' ) ? 'unhidden' : 'hidden';
  }
  // Swap what the link says.
  var switchitem = document.getElementById(switchID);
  if (switchitem) {
	switchitem.innerHTML = ( switchitem.innerHTML == 'Expand' ) ? 'Collapse' : 'Expand' ;
	switchitem.className = 'switchon';
  }
}
</script>
<script type="text/javascript">
  // Leave whatsnew expanded by default
  var switchitem = document.getElementById('whatsnew_switch');
  if (switchitem) {
	switchitem.className = 'switchon';
  }
  // Shrink others.
  unhide('issues', 'issues_switch');
  unhide('distlist', 'distlist_switch');
</script>
<!-- Start Quantcast tag -->
<script type="text/javascript">
_qoptions={
qacct:"p-44rvHMFUvK7tg"
};
</script>
<script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
<noscript>
<img src="http://pixel.quantserve.com/pixel/p-44rvHMFUvK7tg.gif" style="display: none;" border="0" height="1" width="1" alt="Quantcast"/>
</noscript>
<!-- End Quantcast tag -->

<!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>
